:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

.presentation_home {
  background-color: #8183DA; 
  color: #ffffff; 
  padding: 2rem; 
  max-width: 1200px;
  margin: 10vh auto; 
  transition: transform 0.3s ease; 
}

.presentation_home h1 {
  font-size: 2.5rem; 
  margin-bottom: 1rem; 
  font-weight: 600; 
  transition: transform 0.3s ease; 
}

.presentation_home p {
  font-size: 1.25rem; 
  line-height: 1.6; 
  margin-bottom: 1.5rem; 
  transition: transform 0.3s ease; 
}

.presentation_home:hover h1,
.presentation_home:hover p {
  transform: scale(1.05); 
}

.buttons_home {
  padding: 2rem;
  display: flex;
  justify-content: space-evenly;
  
}

.button_home {
  background-color: #8183DA; 
  color: #ffffff; 
  padding: 0.5rem 1rem; 
  border: 2px solid #8183DA; 
  border-radius: 0.25rem; 
  font-size: 1rem; 
  font-weight: 600; 
  text-transform: uppercase; 
  transition: transform 0.3s ease; 
}

.button_home:hover {
  transform: scale(1.05);
  background-color: #ffffff;
  color: #8183DA;
  cursor: pointer;
}

.footer {
  height: 50px;
  width: 100%;
  background-color: #8183DA;
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 1rem;
  box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
  margin-top: 2rem;
  position: fixed;
  bottom: 0;
}

.footer p {
  margin: 0;
  font-size: 1rem;
}


/* Header */

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #8183DA;
  color: white;
  width: 100%;
  position: fixed;
  top:0;
  
}

.logo {
  border-radius: 50%;
  cursor: pointer;
}

.search-bar {
  display: flex;
  gap: 5px;
}

.search-bar input {
  padding: 5px;
  width: 200px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.search-bar button {
  background-color: white;
  border: none;
  cursor: pointer;
  padding: 5px;
  border-radius: 50px
}

.header-right {
  display: flex;
  gap: 10px;
}

.btn {
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}


.login {
  background-color: #8183DA; 
  color: #ffffff; 
  padding: 0.5rem 1rem; 
  border: 2px solid #8183DA; 
  border-radius: 0.25rem; 
  font-size: 1rem; 
  font-weight: 600; 
  text-transform: uppercase; 
  transition: transform 0.3s ease; 
}

.login:hover {
  transform: scale(1.05);
  background-color: #ffffff;
  color: #8183DA; 
}


.signup {
  background-color: #8183DA; 
  color: #ffffff; 
  padding: 0.5rem 1rem; 
  border: 2px solid #8183DA; 
  border-radius: 0.25rem; 
  font-size: 1rem; 
  font-weight: 600; 
  text-transform: uppercase; 
  transition: transform 0.3s ease; 
}

.signup:hover {
  transform: scale(1.05);
  background-color: #ffffff;
  color: #8183DA; 
}

/* Cadastro */

.registration_form , .login_form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  min-height: calc(100vh - 150px);
  margin: 10vh
}

.registration_form, .login_form h1 {
  margin-bottom: 1rem;
  font-weight: 600;
}

form {
  width: 100%;
  max-width: 600px;
}

.form_group {
  display: flex;
  gap: 10px; 
  margin-bottom: 15px;
  margin-top: 15px;
}

.form_group input {
  flex: 1; 
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.form_group button {
  width: 100%;
  padding: 10px;
  background-color: #8183DA;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.form_group button:hover {
  background-color: #ffffff;
  color: #8183DA;
}


/* Login */

